.header{
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  user-select: none;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  position: sticky;
  backdrop-filter: blur(15px);
}

.head_img{
  margin-left: 30px;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.head_label{
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.actions{
  display: flex;
  width: 180px;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
  gap: 10px;
}